// Main SCSS file - imports all modules for app app
@import 'variables';
@import 'base';
@import 'animations';
@import 'navigation';
@import 'buttons';
@import 'cookies';
@import 'spinner';
@import 'tickets';
@import 'dashboard';
@import 'profile';
@import 'settings';
@import 'clients';
@import 'login';
@import 'responsive';
